<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Build&amp;Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7777C9561DB61AC900428057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7777C9571DB61AC900428057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7777C9581DB61AC900428057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7777C9591DB61AC900428057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7777C95A1DB61AC900428057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7777C95B1DB61AC900428057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7777C95D1DB61AC900428057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
